/*--------------------- GENERAL CSS ----------------------------*/

html body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --dark-color: #016b58;
  --mid-color: #1fa58d;
  --second-mid-color: #a1dfd4;
  --light-color: #f4f9f5;
  --dark-secondary-color: #565858;
  --light-secondary-color: #ebebf0;
  --font-color: black;
  --title-font: Helvetica;
  --body-font: Roboto;
  --sora-font: "Sora";
  --rokkitt-font: "Rokkitt";
  --raj-font: "Rajdhani";
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.box {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
}

.icon {
  height: 1.8rem;
  width: 1.8rem;
}
.logos .icon {
  padding: 0.8rem;
  background-color: #f4f9f5;
  border-radius: 10%;
  margin: 0.8rem;
  text-align: center;
}

.about {
  display: grid;
  text-align: center;
  color: #016b58;
  font-size: 1rem;
  margin: 2rem;
}

.seeds-box .seeds {
  border-radius: 10%;
  margin: 0 auto;
}

.text-box {
  font-size: 1rem;
  color: #016b58;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  margin: 2rem;
}

.text {
  width: 100%;
  white-space: normal;
  font-weight: bold;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* --------------------------------- LAYOUT & NAVBAR ---------------------------------*/
.layout {
  background-color: var(--light-color);
}

.navbar {
  margin-bottom: 0.5rem;
  background-color: var(--light-color);
  align-items: center;
}

.search-wishlist-icons {
  margin-right: 1rem;
  display: flex;
  justify-content: space-between;
}

.icon-search {
  height: 1.8rem;
  width: auto;
  color: var(--dark-color);
  margin: 0;
  padding: 0.5rem;
}

.icon-search:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 400ms;
  color: var(--mid-color);
}

.icon-wishlist {
  height: 1.8rem;
  width: auto;
  color: var(--dark-color);
  margin: 0;
  padding: 0.5rem;
}

.icon-wishlist:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 400ms;
  color: var(--mid-color);
}

.icon-seedling {
  height: 1.8rem;
  width: 1.8rem;
  color: white;
}

/*-------------------------------------  LANDING-PG ------------------------------*/

.background-veg {
  background-image: url("../public/background.jpg");
  height: 30vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.background-sweetpea {
  background-image: url("https://images.unsplash.com/photo-1598954559987-23e614224d30?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-beetroot {
  background-image: url("https://images.unsplash.com/photo-1627738668643-1c166aecbf3d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.background-tomatoes {
  background-image: url("https://images.unsplash.com/photo-1598512752271-33f913a5af13?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-cauliflower {
  background-image: url("https://images.unsplash.com/photo-1568584711075-3d021a7c3ca3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2344&q=80");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-rosemary {
  background-image: url("https://images.unsplash.com/photo-1582745741856-1a5d68158ba3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-petunia {
  background-image: url("https://images.unsplash.com/photo-1629727434632-34d73efb9cb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.background-carrot {
  background-image: url("https://images.unsplash.com/photo-1579584828095-494884160804?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-broccoli {
  background-image: url("https://images.unsplash.com/photo-1628773822503-930a7eaecf80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-basil {
  background-image: url("https://images.unsplash.com/photo-1600598307622-9165bfa2ae42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.landing-search {
  gap: 2rem;
  margin-top: 10rem;
}

.landing-gap {
  background-color: var(--light-color);
  margin: 1.5rem;
}

.landing-page {
  background-color: var(--light-color);
}
/*-------------------------------------  LANDING-PG GRID AND MEDIA QUERIES ------------------------------*/

.container {
  background-color: var(--light-color);
}
.type-tag {
  background-color: var(--mid-color);
}

.water-tag {
  background-color: rgb(54, 106, 141);
}

.climate-tag {
  background-color: var(--dark-color);
}

.soil-tag {
  background-color: rgb(77, 59, 47);
}

.tag-container span {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 30px;
  max-width: fit-content;
  color: var(--light-color);
}

@media screen and (min-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product-grid {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 677px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  [class*="box-"] {
    height: 75vw;
  }

  .product-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.product-grid {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-card {
  margin: 1rem 0;
  max-width: 400px;
}

/* ------------------ GRID FOR PRODUCT DISPLAY PAGE/MIDDLE GRID FOR HOMEPAGE ------------------- */

@media screen and (min-width: 678px) {
  .container {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(2, 1fr);
    grid-gap: 5px;
    justify-content: center;
  }

  .box-nine {
    grid-column: 1 / 3;
    background-color: green;
  }

  [class*="box-"] {
    height: 50vw;
  }

  .background-veg {
    height: 50vh;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 0.5rem));
    gap: 1rem;
    margin: 4rem;
  }

  .product-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    transition: transform 0.5s, box-shadow 0.5s;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0);
  }
}

@media screen and (min-width: 900px) {
  .container {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  }

  .box-one {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .box-two {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }

  .box-three {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .box-four {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .box-five {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .box-six {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .box-seven {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }

  .box-eight {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }

  .box-nine {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
  }

  [class*="box-"] {
    height: 30vw;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, calc(33% - 0.5rem));
    gap: 2rem;
    justify-content: center;
  }
}

/* ------------ PRODUCT DISPLAY GRID LARGER SCREENS MEDIA QUERY --------------- */

@media screen and (min-width: 1024px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 0.5rem));
    gap: 2rem;
    justify-content: center;
    margin: 3rem;
  }
}

@media screen and (min-width: 1490px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(5, calc(20% - 0.5rem));
    gap: 2rem;
    justify-content: center;
    margin: 3rem;
  }
}

/*-------------------------------------  CONTACT ------------------------------*/

.contact {
  text-align: center;
  color: #016b58;
  margin: 5rem 0 0 1rem;
  padding: 1rem;
}

.contact p {
  font-size: 1rem;
  font-style: bold;
  text-align: center;
}

.contact .grow {
  border-radius: 10%;
}
.contact .icon {
  padding: 0.8rem;
  text-align: center;
}

/*-------------------------------------  WISHLIST & PRODUCT CARD ------------------------------*/
.title-wishlist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wishlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
